<p>
  testbutton works!
  
</p>
<!-- <i class="bi bi-archive-fill fs-1"></i>  icon  fs-1 madhesia -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-warning">
  <i class="bi bi-apple"></i>
  <!-- <a class="link-opacity-100" [routerLink]="['/add']">Kliko ketu nese nuk ke nje account</a> -->
</button>
